.assets-page{
	min-height: 100%;
}
.assets-body{

	padding: 1.5em 1em;
	@include clearfix;
	@include respond-to(small){
		padding: 1.5em;
	}
	@include respond-to(medium){
		padding: 2em 2em 2em 2.5em;
	}
	.widget.your-basket{
		float: none;
		margin: 0;
		margin-bottom: 1em;
		background-color: #fff;
		border: 1px solid #ddd;
		border-top: 3px solid $secondary-color;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.05);
		padding: 1.5em;
		width: 100%;
		// @include respond-to(medium){
		// 	margin: 0;
		// 	@include span(4 of 12 last);
		// }
		@include respond-to(dashboard-tiles1){
			width: 100%;
			float: none;
			margin-right: 0;

		}
	}
	.widget-title{
		color: $secondary-color;
		font-size: ms(1);
		padding-bottom: 0.6em;
		margin-bottom: 0.6em;
		line-height: 1;
		border-bottom: 1px solid #ddd;
		font-family: $primary-font-semi;
	}
}
.category-side{
	width: 100%;
    float: none;
	// overflow: hidden;

	@include respond-to(dashboard-tiles1){
		width: 17em;
		float: right;
	}
}
.asset-categories{
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
	// overflow: hidden;
	// @include respond-to(medium){
	// 	@include span(8 of 12);
	// }
	@include respond-to(dashboard-tiles1){
		width: 100%;
	}
}

.asset-search__wrapper{
	width: 100%;
	@include respond-to(dashboard-tiles1){
		float: left;
		width: calc( 100% - 17em );
		padding-right: 2em;
		.bdy-login-assets-requirements-missing-images- &{
			width: 100%;
		}
	}
	.form-wrap{
		margin-top: 1em;
		margin-bottom: 0.5em;
		display: table;
		h2{
			font-size: ms(2);
			display: table-caption;
		}
		.form__field{
			//float: left;
			display: table-cell;
			width: 32%;
			//margin-right: 2%;
			padding: 0 0.35em 0 0;
			vertical-align: bottom;
			&:last-child{
				margin-right: 0;
			}
		}
		.form__button{
			display: table-cell;
			vertical-align: bottom;
			padding: 0 0.35em 0 0;
			width: 19%;
		}
	}
}
.asset-search__options{
    width: 100%;
    @include clearfix;
    z-index: 2;
}
.asset-tabs{
    float: left;
    margin-right: 2em;
    input{
		-webkit-appearance: none;
		background-image: none;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        float: left;
        position: relative;
        text-align: center;
        padding: 0.9em 1.2em 0.7em;
        margin: 0;
        color: #555;
        display: block;
        font-size: ms(0);
        font-family: $primary-font-semi;
		cursor: pointer;
		border-radius: 0;
        &:first-child{
            border-right: none;
        }
        &.tab--selected{
            border-bottom-color: #fdfdfd;
            border-top-color: $secondary-color;
            color: $secondary-color;
            background-color: #fdfdfd;
        }
		@include respond-to(small){
			font-size: ms(1);
			padding: 0.9em 1.2em 0.7em;
		}

    }
}
.asset-includes{
    float: left;
    padding: 0.6em 0.5em;
    //vertical-align: middle;
    font-size: ms(0);
	width: 100%;
	background: #fdfdfd;
	border: 1px solid #ddd;
    input{
        margin: 0 0.5em;
        // vertical-align: middle;
        position: relative;
        top: 6px;

		@include respond-to(small){
			margin-left: 1em;
			top: 7px;
		}
    }
    label{
        // vertical-align: middle;
    }
	@include respond-to(small){
		font-size: 16px;
		padding: 0.9em 1.2em 0.7em;
	}
	@include respond-to(medium){
		width: auto;
		background: transparent;
		border: none;
	}
}

.asset-items-wrapper{
    background-color: #fdfdfd;
    padding: 1.5em;
    margin-top: -1px;
    border: 1px solid #ddd;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.06);
	font-size: 15px;
	@include respond-to(tiny){
		font-size: 16px;
		padding: 2em;
	}
	@include respond-to(assets-layout3){
		padding: 1em;
	}
	@include respond-to(marge){
		font-size: 16px;
		padding: 1.5em;
	}
}

.breadcrumbs{
	@include clearfix;
	width: 100%;
	margin-bottom: 1.5em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ddd;

	@include respond-to(small){
		text-align: center;
	}
}
.breadcrumb-link{
	display: inline-block;
	color: #888;
	font-size: 13px;
	input{
		font-family: $primary-font-bold;
		color: #333;
		font-size: 12px;
		background-color: transparent;
		border: none;
		margin: 0 0.3em;
		padding: 0.1em 0.25em;
		cursor: pointer;
		text-transform: uppercase;
		&:hover{
			color: $primary-color;
		}
		@include respond-to(small){
			font-size: 14px;
		}
	}

}

.categories-list{
    padding: 0.75em 1.5em 1em;
    border: 1px solid #ddd;
    border-top: none;
	background-color: #fff;
	display: none;
	@include respond-to(dashboard-tiles1){
		display: block;
		margin-bottom: 0;
	}
}
.asset-categories{
	margin-bottom: 2em;
	@include respond-to(dashboard-tiles1){
		margin-bottom: 0;
	}
    .categories-title{
        background-color: $secondary-color;
		background-image: linear-gradient(90deg, #3fc53c, #10811c);
		background-image: linear-gradient(170deg, $secondary-color, darken(saturate($secondary-color,5%),10%));
		//background-image: linear-gradient(170deg, darken(saturate($secondary-color,5%),10%), $secondary-color-dark);
		box-shadow:  0 1px 2px 0 rgba(0, 0, 0, 0.15);
		z-index: 2;
		position: relative;
		cursor: pointer;
		@include respond-to(dashboard-tiles1){
			cursor: default;
		}
        h5{
            color: #fff;
            //color: #222;
            //color: $secondary-color;
            font-family: $primary-font-semi;
            margin-bottom: 0;
			line-height: 1;
			letter-spacing: -0.3px;
			text-shadow: 0 1px 2px rgba(0,0,0,0.2);
			&:after{
				content: url("../../assets/images/add-white.svg");
				position: absolute;
				right: 16px;
				top: 16px;
				height: 0.8em;
				width: 0.8em;
				display: block;
				transform-origin: center;
				transition: transform 200ms ease;
				@include respond-to(dashboard-tiles1){
					display: none;
				}
			}
        }
        // border-bottom: 1px solid #4D5966;
        // border-bottom: 1px solid #ddd;
		border-top: 3px solid #3fc53c;
        padding: 0.9em 0em 1.1em;
        //margin-bottom: 1em;
		text-align: center;
    }
	&.active{
		h5:after{
			transform: rotate(45deg);
		}
	}
    input{
        cursor: pointer;
		&:hover{
			color: $primary-color;
		}
    }

    .categoryNavName{
		//box-shadow:  0 3px 2px -3px rgba(0,0,0,0.06);
        width: 100%;
        border-bottom: 1px solid #47525E;
        border-bottom: 1px solid #e5e5e5;
		border-bottom: 1px solid #e1e1e1;
        >input{
            padding: 0.5em 0.1em;
            background-color: transparent;
            border: none;
            color: #fff;
            color: #444;
            //font-size: ms(1);
			line-height: 1.1;
            font-family: $primary-font-semi;
			//letter-spacing: -0.1px;
			text-transform: uppercase;
			&:hover{
				color: $primary-color;
			}
        }
		&:last-child{
			border: none;
		}
    }

    .subCategoryNavName{
        >input{
            padding: 0.45em 0.1em 0.45em 0.25em;
            background-color: transparent;
            border: none;
            color: #fff;
            color: #888;
            font-size: ms(0);
            font-family: $primary-font;
			line-height: 1;
			&:hover{
				color: $primary-color;
			}
        }
		&:first-child{
			>input{
				padding-top: 0.1em;
			}
		}
		&:last-child{
			>input{
				padding-bottom: 1em;
			}
		}
		// &:before{
		// 	content: "-";
		// 	display: inline;
		// 	padding-left: 0.35em;
		// 	color: #888;
		// }
    }
    .categoryNavWrap{
        //padding-bottom: 0.5em;
    }
}

.asset-items-wrapper{
	@include clearfix;
}
.category__list{
	@include clearfix;
}
.category-tile, .sub-category-tile{
	margin-bottom: 1.5em;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.06);
	background-color: #fff;
	@include respond-to(assets-layout3){
		@include span(6 of 12 split 0.4);
		margin-bottom: gutter();
	}
	@include respond-to(assets-layout2){
		@include span(4 of 12 split 0.25);
	}
	@include respond-to(assets-layout){
		@include span(3 of 12 split 0.25);
	}
	&:hover{
		box-shadow: 0 0 0 2px $primary-color;
		border-color: $primary-color;
	}
	&__image{
		width: 100%;
		padding-bottom: 100%;
		overflow: hidden;
		height: 0;
	}
	&__info{
		padding: 0.75em;
		background-color: #fff;
		text-align: center;
		@include clearfix;
	}
	&__name{
		font-size: ms(0);
		line-height: 1.2;
		font-family: $primary-font-semi;
		padding: 0.1em 0em 0.5em;
		text-transform: uppercase;
		//letter-spacing: -0.35px;
		display: inline-block;
	    vertical-align: top;
		@include respond-to(tiny){
			padding: 0.5em 0em 1em;
			font-size: ms(0);
		}
	}
	&__button{
		width: 100%;
		input{
			width: 100%;
			padding: 0.5em 0.2em;
			background-color: $secondary-color;
			background-image: linear-gradient(lighten(saturate($secondary-color, 6%),6%), $secondary-color);
			color: #fff;
			display: block;
			border: none;
			font-family: $primary-font-bold;
			text-transform: uppercase;
			font-size: ms(0);
			cursor: pointer;
			border-radius: 0;
			&:hover{
				//background-color: lighten(saturate($secondary-color, 6%),6%));
				background-image: linear-gradient(lighten(saturate($secondary-color, 12%),12%), lighten(saturate($secondary-color, 6%),6%));
			}
		}
	}
}


.item-tile{
    position: relative;
	margin-bottom: 1em;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.06);
	background-color: #fff;
	@include respond-to(assets-layout3){
		@include span(6 of 12 split 0.4);
		margin-bottom: gutter();
		border-color: #ddd;
	}
	@include respond-to(assets-layout2){
		@include span(4 of 12 split 0.25);
	}
	@include respond-to(assets-layout){
		@include span(3 of 12 split 0.25);
	}
	@include respond-to(dashboard-tiles1){
		.bdy-login-assets-requirements-missing-images- &{
			@include span(3 of 15 split 0.25);
		}
	}
    &:hover{
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15), 0 4px 10px 0 rgba(0,0,0,0.08), 0 0 0 2px $primary-color;
		border-color: $primary-color;
    }

	&__image{
	    height: 0;
	    width: 100%;
	    padding-bottom: 100%;
	}
	&__info{
    	background: $white;
    	padding: 0.75em;
    	@include clearfix;
	}
	&__name{
	    width: 100%;
	    margin-bottom: 5px;
		font-size: ms(0);
		line-height: 1.2;
		font-family: $primary-font-semi;
		padding: 0.5em 0 1em;
		text-transform: uppercase;
	}
	&__info-wrap{
		@include clearfix;
		width: 100%;
		display: inline-block;
	    vertical-align: top;
	}
	&__location{
	    @include p;
	    color: #777;
	    float:left;
	    width: 50%;
	    &:before{
	        content: url("../../assets/images/pin.svg");
	        height: 1em;
	        width: 1em;
	        display: inline-block;
	        position: relative;
	        top: 2px;
	    }
	}
	&__quantity{
	    @include p;
	    width: 50%;
	    float: right;
	    text-align: right;
	    span{
	        color: #777;
	    }
	}
	&__button{
	    width: 100%;
	    text-align: center;
	    display: inline-block;
	    a{
			width: 100%;
			padding: 0.5em 0.2em;
			background-color: $secondary-color;
			background-image: linear-gradient(lighten(saturate($secondary-color, 6%),6%), $secondary-color);
			color: #fff;
			display: block;
			border: none;
			font-family: $primary-font-bold;
			text-transform: uppercase;
			font-size: ms(0);
			cursor: pointer;
			margin-bottom: 3px;
			&:hover{
				background-image: linear-gradient(lighten(saturate($secondary-color, 12%),12%), lighten(saturate($secondary-color, 6%),6%));
			}
	    }
	}
	&__expires{
		position: absolute;
	    top: -0.2em;
	    left: -0.2em;
	    line-height: 1;
	    font-family: $primary-font-semi;
	    padding: 0.5em 1.2em;
	    background-color: #ff7300;
	    color: #fff;
	    box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.1);
	}
}

.assets-listing__body{
	padding: 1.5em 1em;
	@include clearfix;
	@include respond-to(small){
		padding: 1.5em;
	}
	@include respond-to(medium){
		padding: 2em 2em 2em 2.5em;
	}
	.form__wrap{
		padding: 3.3em 1.5em 1.5em;
		position: relative;
		background-color: #fff;
		border: 1px solid #ccc;
		border-top: 3px solid $secondary-color;
		box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16), 0 5px 12px 0 rgba(0, 0, 0, 0.06);
		@include clearfix;
		@include respond-to(regular){
			padding: 3em;
		}
	}

	.asset-listing__actions{
		@include respond-to(assets-layout){
			@include span(3 of 12 last);
		}
		@include clearfix;
	}
	.widget.your-basket{
		margin: 0;
		margin-bottom: 1em;
		border: 1px solid #ddd;
		@include respond-to(small){
			margin-bottom: 0;
			@include span(6 of 12);
			min-height: 195px;
		}
		@include respond-to(assets-layout){
			width: 100%;
			float: none;
			margin-bottom: 1em;
			min-height: 0;
		}
	}

	.match-buttons{
		margin-bottom: 0;
		@include respond-to(small){
			@include span(6 of 12 last);
			min-height: 195px;
		}
		@include respond-to(assets-layout){
			width: 100%;
			float: none;
			margin-bottom: 1em;
			min-height: 0;
		}
	}
	.widget, .match-buttons{
		background-color: #fff;
		border: 1px solid #ddd;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.05);
		padding: 1.5em;
		border-top: 3px solid $secondary-color;

	}
	.widget-title{
		color: $secondary-color;
		font-size: ms(1);
		padding-bottom: 0.6em;
		margin-bottom: 0.6em;
		line-height: 1;
		border-bottom: 1px solid #ddd;
		font-family: $primary-font-semi;
	}
}

.asset-listing__details{
	margin-bottom: 2em;
	@include respond-to(assets-layout){
		@include span(9 of 12);
		margin-top: 0;
		margin-bottom: 0;
	}
	.form__field{
		max-width: none;
	}
	.listing-half{
		max-width: none;
		margin-bottom: 0.75em;
		padding-bottom: 0.75em;
	}
	.listing-description{
		//margin-bottom: 2em;
		//float: left;
		.listing-label{
			display: none;
		}
		.listing-info{
			color: #444;
		}
	}
	.listing-name{
		margin-bottom: 0;
	}

}
.listing-back{
	position: absolute;
	top: 0.75em;
	right: 0.5em;
}
.edit-buttons{
	@include respond-to(small){
		@include span(6 of 12);
	}
}
.report-buttons{
	@include respond-to(small){
		@include span(6 of 12 last);
	}
}
.edit-buttons, .report-buttons{
	@include respond-to(small){
		min-height: 207px;
	}
	@include respond-to(assets-layout){
		@include span(3 of 12 last);
		min-height: 0;
	}
	background-color: #fff;
	margin-bottom: 1em;
	border: 1px solid #ddd;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.05);
	padding: 1.5em;
	border-top: 3px solid $secondary-color;
}
.match-buttons{
	input,label{
		width: auto;
	}
	label{
		margin-right: 2em;
	}
	input{
		padding: 0.3em;
		max-width: 100%;
	}
}
.report-buttons{
	.asset-listing__button{
		margin-top: 1em;
	}
}

.asset-listing__button, .listing-back{
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin: 0.25em 0;
	margin-left: 0;
    border: none;
	font-family:$primary-font-semi;
	line-height: 1;
	white-space: nowrap;
    font-weight: bold;
	transition: all 0.4s ease-in-out;
	width: 100%;
	input{
		background: green;
		cursor: pointer;
		color: #fff;
		padding: 0.5em 1em;
		border-radius: 3px;
		background-image: linear-gradient(lighten(saturate($secondary-color, 6%),6%), $secondary-color);
		width: 100%;
		&:hover{
            background-image: linear-gradient(lighten(saturate($secondary-color, 12%),12%), lighten(saturate($secondary-color, 6%),6%));
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.1);
        }
	}

    @include respond-to(regular){
        width: auto;
    }
}
.listing-back{
	a{
		background: green;
		cursor: pointer;
		color: #fff;
		padding: 0.5em 1em;
		border-radius: 3px;
		background-image: linear-gradient(lighten(saturate($primary-color, 6%),6%), $primary-color);
		width: 100%;
		&:hover{
            background-image: linear-gradient(lighten(saturate($primary-color, 12%),12%), lighten(saturate($primary-color, 6%),6%));
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.1);
        }
	}
}


.side-title{
	color: #34a237;
	font-size: ms(1);
	border-bottom: 1px solid #ddd;
	display: block;
	font-family: $primary-font-semi;
	line-height: 1;
	text-transform: uppercase;
	padding-bottom: 0.6em;
	margin-bottom: 0.6em;
}
.side-info{
	font-size: em(15);
	color: #444;
	line-height: 1.2;
}

.asset-listing__top-section{
	@include clearfix;
}
.asset-listing__header{
	margin-bottom: 1.5em;
	// @include clearfix;

}

.listing-name{
	// width: 100%;
	width: auto;
	&__label{
		display: none;
	}
	&__title{
		font-size: ms(4);
		color: $secondary-color;
		font-family: $primary-font-semi;
		line-height: 1.1;
		text-transform: uppercase;
	}
}
.listing-category{
	// width: 100%;
	width: auto;
	&__label{
		display: none;
	}
	&__title{
		font-size: ms(0);
		color: #888;
		text-transform: uppercase;
		font-family: $primary-font-semi;
	}
}
.listing-image{
	margin-bottom: 0.8em;
	margin-right: 2em;
	@include respond-to(marge){
		float: left;
	}
	img{
		max-height: 32em;
	}
}
.listing-label{
	text-transform: uppercase;
	font-family: $primary-font-bold;
	color: #222;
	font-size: ms(0);
	font-size: em(14);
	margin-right: 1em;
}
.listing-info{
	font-size: em(15);
	font-size: 15px;
	font-family: $primary-font;
	color: #666;
	line-height: 1.4;
	//min-height: 1.125em;
}
.listing-half{
	border-bottom: 1px solid #ddd;
	@include respond-to(marge){
		width: 47%;
		margin-right: 3%;
		float: left;
	}
}

.asset-listing__list{
	@include clearfix;
	display: block;
	width: 100%;
	margin-top: 2.5em;
	padding-top: 2.5em;
	border-top: 1px solid #ddd;
	.listing-label, .listing-info{
		display: inline-block;
	}
	.listing-label{
		&:after{
			content: ":";
			margin-left: 3px;
		}
	}
}
// .listing-label, .listing-info{
// 	display: table-cell;
// }


///////////////////////////////////

/*     Basket    */

//////////////////////////////////



.basket-body{
	padding: 1.5em 1em;
	@include clearfix;
	@include respond-to(small){
		padding: 1.5em;
	}
	@include respond-to(medium){
		padding: 2em 2em 2em 2.5em;
	}
	.form__wrap, .basket-outer{
		max-width: 55em;
		padding: 2em 1em;
		background-color: #fff;
		border: 1px solid #ccc;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.06);
		//box-shadow: 0 0 4px rgba(0,0,0,.14),0px 4px 8px rgba(0,0,0,.28);
		@include clearfix;
		@include respond-to(tiny){
			padding: 2em 1.5em;
		}
		@include respond-to(small){
			padding: 3em;
		}
	}
	.form__field{
		max-width: none;

	}
}

.basket-outer{
	margin-bottom: 1.5em;
	h4{
		font-family: $primary-font;
		margin-bottom: 0.5em;
	}
}
.basketOutput{
	display: table;
	width: 100%;
	table-layout: fixed;
	.tableRow{
	    &:first-child{
	        border-top: none;
	    }
	    &:nth-child(odd){
	        background-color: #f4f4f4;
	    }
	    &:nth-child(even){
	        background-color: #fdfdfd;
	    }
		>div{
			display: table-cell;
			vertical-align: middle;
			padding: 0.85em 0.65em;
			border-right: 1px solid #e5e5e5;
		    border-bottom: 1px solid #e5e5e5;
			text-align: center;
			font-family: $primary-font-semi;
			color: #333;
			a{
				font-family: $primary-font-semi;
				color: #333;
				display: block;
			}
		}
		.col1{
			text-align:left;
			border-left: 1px solid #e5e5e5;
			width: 40%;
			@include respond-to(large){
				width: 50%;
			}
		}
		.col3{
			font-family: $primary-font-bold;
		}
	}
	.basketHead{
		>div{
			border-right: 1px solid lighten($secondary-color, 8%);
			color: #fff;
		}
	}
	.col2,.col4{
		position: relative;
		a{
			height:30px;
			width: 100%;
			display: block;
			text-indent: 100%;
			overflow: hidden;
			white-space: nowrap;
			visibility: hidden;
			position: relative;
			// @include visuallyhidden;

			&:after{
				height: 22px;
				width: 22px;
				display: inline-block;
				@include vertical-center;
				visibility: visible;
				text-indent: 0;
			}
		}
	}
	.col2{
		a{
			&:after{
				content: url("../../assets/images/svg/minus.svg");
			}
		}

	}
	.col4{
		a{
			&:after{
				content: url("../../assets/images/svg/add.svg");
			}
		}
	}
	.col5,.col6{
		a{
			position: relative;
			&:before{
				display: block;
				height: 22px;
				width: 22px;
				display: inline-block;
				@include vertical-center;
			}
		}
	}
	.col5{
		a{
			&:before{
				content: url("../../assets/images/svg/view.svg");
			}
		}
	}
	.col6{
		a{
			&:before{
				content: url("../../assets/images/svg/close.svg");
			}
		}
	}
}
.basketOutput{
	.basketHead{
		background-image: linear-gradient(lighten(saturate($secondary-color, 6%),6%), $secondary-color);
		box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.13);
		border-bottom: none;
		>div{
			color: white;
			font-family: $primary-font-bold;
			text-transform: uppercase;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.06);
			border-bottom: none;
		}
	}
}



////////////////////////////////////////////////

/////*   ADD ASSETS    */////

///////////////////////////////////////////////



.add-assets-wrap{
	.form__wrap{
		border-top: 3px solid $secondary-color;
	}
	.form__success{
		max-width: 55em;
	}
	#pnlStepTwo{

		.form__field{
			padding-bottom: 0.75em;
			margin-bottom: 0.75em;
			border-bottom: 1px solid #ddd;
			>div{
				font-family: $primary-font-bold;
				color: $text-color;
				//font-size: ms(1);
			}
			span{
				font-family: $primary-font;
				color: $grey;
				//font-size: ms(1);
			}
		}
	}
	.form__button__half{
        input{
			@include button-variant(#fff, $secondary-color, transparent);
	        @include button-size(0.7em, 2em, 15px, 1, 3px);
	        background-image: linear-gradient(lighten(saturate($secondary-color, 6%),6%), $secondary-color);
	        color: #fff;
	        text-transform: uppercase;
	        display: block;
	        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
			font-family: $primary-font-bold;
			font-size: ms(1);
	        &:hover{
	            background-image: linear-gradient(lighten(saturate($secondary-color, 12%),12%), lighten(saturate($secondary-color, 6%),6%));
	            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.1);
	        }
        }
    }
}
