@keyframes shake {
    0%, 100% {
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-3px, 0, 0);
    }
    20%, 40%, 60%, 80% {
    transform: translate3d(3px, 0, 0);
    }
}


// #Form1{
//     .bdy-login- &, .bdy-password-reminder- &{
//
//         @include respond-to(marge){
//             height: 100%;
//         }
//     }
//     @include respond-to(marge){
//         height: 100%;
//         min-height: 100%;
//     }
// }
.content-wrap{
    @include clearfix;
    position: relative;
    // .bdy-login- &, .bdy-password-reminder- &{
    //     @include respond-to(marge){
    //         height: 100%;
    //         min-height: 100vh;
    //     }
    // }
    // @include respond-to(marge){
    //     height: 100%;
    //     min-height: 100vh;
    // }
}
