// .connections-body{
//     width: 100%;
// 	padding: 1.5em 1em;
//     display: inline-block;
//     vertical-align: top;
//     height: 100%;
// 	@include clearfix;
// 	@include respond-to(small){
// 		padding: 1em;
// 	}
//     @include respond-to(side-col-change){
//         width: calc(100% - 19em);
//         float: left;
//     }
// }

.connections-tabs{

    z-index: 2;
    @include clearfix;
    .tabs{
        width: 49%;
        @include respond-to(small){
            width: auto;
        }
    }
}

.connections-content{
    // padding: 1em;
    // background-color: #fff;
    // border: 1px solid #ccc;
    // box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.16), 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    // margin-top: -1px;
    // @include clearfix;
    // //width: calc(100% - 20em);
    // @include respond-to(small){
    //     padding: 2em 1.5em;
    // }
    h3{
        font-family: $primary-font-semi;
        margin-bottom: 0.2em;
    }
    .small-only{
        display: table;
        td{
            border: 1px solid #e1e1e1;
        }
        tr{
            //border-top: 1px solid #e1e1e1;
            //border: 1px solid #e1e1e1;
            //border-bottom: 1px solid #e1e1e1;
            &:first-child{
                border-top: none;
            }
            &:nth-child(even){
                background-color: #ffffff;
            }
            &:nth-child(odd){
                background-color: #ffffff;
            }
        }
        .st-head-row{
            padding-top: 2em;
            font-size: ms(1);
            font-family: $primary-font-semi;
        }
        .st-key{
            border-right: 1px solid #d5d5d5;
            background-color: #f7f7f7;
            a{
                font-family: $primary-font-semi
            }
        }
        @include respond-to(table){
            display: none;
        }
    }
    .large-only{
        display: none;
        @include respond-to(table){
            display: table;
        }

    }
    .tableheading{
        display: none;
        @include respond-to(table){
            display: table-row;
        }
    }
    .dualBtn{
        a{
            padding: 0.25em 0.4em;
            border-radius: 2px;
            margin: 2px;
            color: #fff;
            background-color: $primary-color;
            //width: 100%;
            display: inline-block;
            text-align: center;
            &:hover{
                background-color: lighten(saturate($primary-color, 10%),10%);
            }
            &.btn-connect{
                background-color: $secondary-color;
                &:hover{
                    background-color: lighten(saturate($secondary-color, 10%),10%);
                }
            }
            &.btn-disconnect,.btn-reject{
                background-color: firebrick;
                &:hover{
                    background-color: lighten(saturate(firebrick, 10%),10%);
                }
            }
        }
    }
}
.connections-info h6{
    font-family: $primary-font;
    color: #666;
}

.search-connections{
    @include clearfix;
    margin-bottom: 2em;
    .form__field{
        max-width: none;
    	@include respond-to(medium){
    		width: 48%;
    		margin-bottom: 0.4em;
    		float: left;
    		margin-right: 2%;
    		&:last-child{
    			margin-right: 0;
    		}
    	}
    	@include respond-to(x-large){
    		width: 23%;
    		float: left;
    		margin-right: 2%;
    		&:last-child{
    			margin-right: 0;
    		}
    	}
    }
    .form__button{
		width: 100%;
	}

}

#client__list_lblPending_2{
    color: firebrick;
    font-family: $primary-font-semi;

}
