.site-wrap{
	@include clearfix;
	position: relative;
}
.main-wrapper{
	float:right;
	width: 100%;
	transition: all 300ms linear;
	min-height: 100vh;
	@include respond-to(regular){
		width: calc(100% - 4em);
	}
	@include respond-to(large){
		width: calc(100% - 12.5em);
	}
	header{
		position: relative;
	}
	.show-menu &{
		transition: all 300ms linear;
		transform: translate3d(12.5em, 0, 0);
		@include respond-to(regular){
			transform: translate3d(8.5em, 0, 0);
		}

	}
}
.site-content{
	min-height: calc(100vh - 30px);
	overflow: hidden;
}
.dashboard-header{
	.header-container{
		@include clearfix;
		.menu-button-wrap{
			@include span(2 of 12 0);
			@include respond-to(regular){
				display: none;
			}
		}
	}
}
.dashboard-top{
	background-color: #fff;
	width: 100%;
	@include clearfix;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
	&:after{
		width: 100%;
		height: 4px;
		background-image: linear-gradient(90deg, #10811c, #3fc53c);
	}
}
.side-menu-button{
	@include span(2 of 12 0);
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: transparent;
	font-size: 1.5em;
	height: 2em;
	//margin: 1em;
	padding: 0;
	width: 2em;
	z-index: 1000;

	.menu-button-icon{

	    display: inline-block;

	}

}
.dashboard-header{
	padding: 0.75em 1em 0.75em 1em;
	@include respond-to(medium){
		padding: 0.75em 1em 0.75em 2.5em;
	}
	.dash-logo{
		display: none;
		@include clearfix;
		float: left;

		@include respond-to(small){
			float: left;
			@include span(4 of 12 0);
			display: block;
		}
		img{
			height: auto;
			width: 8em;
			@include respond-to(regular){
				width: 9.5em;
			}
		}
	}
}
.dashboard-links{
	@include clearfix;
	@include span(8 of 12 0 last);
	@include respond-to(small){
		@include span(6 of 12 0 last);

	}
	@include respond-to(regular){
		@include span(8 of 12 0 last);

	}
	nav{
		float: right;
		@include respond-to(regular){
			@include vertical-align-ab;
			right: 1em;
		}
	}
	ul{

		li{
			display: inline-block;
			margin-left: 1em;
			position: relative;
			&:hover{
				span{
					color: $primary-color;
				}
				.dash-nav__icon{
					fill: $primary-color;
				}
			}
			span{
				padding: 1em 1em 1em 2em;
				color: #8a8a8a;
				display: none;
				@include respond-to(regular){
					display: inline;
				}
			}
		}

	}
}
.dash-nav__icon{
	fill: #8a8a8a;
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
	margin-top: 0.5em;
	@include respond-to(small){
		margin-top: 0.75em;
	}
	@include respond-to(regular){
		position: absolute;
		left: 0;
		top: 1px;
		margin-top: 0;
	}
}


.main-head{
	background-image: linear-gradient(90deg, #3fc53c, #10811c);
	padding: 1.75em 1.5em;
	font-size: 13px;
	@include respond-to(small){
		font-size: 16px;
	}
	@include respond-to(regular){
		padding: 2em 2em 2em 2.5em;
	}
	&__content{
		max-width: 50em;

	}
	h1,h2,h3,h4,h5,h6,p{
		color: #fff;
	}
	h1{
		font-family: $primary-font;
		margin-bottom: 5px;
		letter-spacing: -1px;
		font-size: ms(5);
	}
	h5{
		font-family: $primary-font-semi;
		margin-bottom: 5px;
	}
	@include respond-to(large){
		padding: 3em 2em 3em 2.5em;
		h1{
			font-size: ms(6);
		}
		h1,h5{
			margin-bottom: 12px;
		}
	}
	h5,p{
		display: none;
		@include respond-to(small){
			display: block;
		}
	}


}
.title__icon{
	fill: #fff;
	float:left;
	height: 1em;
	width: 1em;
	position: relative;
	top: 2px;
	margin-right: 0.2em;
}

.form-desc{
	max-width: 55em;

}

.main-body{
	//padding: 1.5em 1em;
	position: relative;
	background-color: #ebeff1;
	background-color: #f4f4f4;
	height: 100%;
	@include clearfix;
	@include respond-to(small){
		//padding: 1.5em;
	}
	@include respond-to(medium){
		//padding: 2em 2em 2em 2.5em;
	}
	h2{
		font-size: ms(3);
		font-family: $primary-font-semi;
	}
	.dashboard-main &{
		background-color: #f1f1f1;
		@include respond-to(small){
			background-color: #f4f4f4;
		}
	}
}

.dashboard-tiles{
	@include respond-to(large){
		padding: 1em;
	}
	@include clearfix;
}

.dash-tile{
	vertical-align: top;
	padding: 1em;
	background-color: #fff;
	//box-shadow: 0 1px 2px 0 rgba(0,0,0,0.04), 0 2px 7px 0 rgba(0,0,0,0.1);
	// background-image: linear-gradient(0deg, #f3f3f3, #ffffff);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.06), 0 2px 7px 0 rgba(0,0,0,0.05);
	margin-bottom: 0.65em;
	border: 1px solid #ddd;
	border-top: 2px solid $secondary-color;
	//transition: all 200ms ease-in-out;
	float: none;
	display: block;
	@include clearfix;
	&:last-child{
		margin-bottom: 0;
	}
	&.active{
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 6px 15px 0 rgba(0, 0, 0, 0.06);
		z-index: 5;
		margin: 1em -0.35em;
	}
	@include respond-to(small){
		padding: 1.5em;
	}
	@include respond-to(dashboard-tiles2){
		@include span (6 of 12 split 0.33);
		margin-bottom: gutter(12);
		border-top: 1px solid #ddd;
		background-color: #fff;
		background-image: none;
	}
	@include respond-to(dashboard-tiles1){
		@include span (4 of 12 split 0.15);
		margin-bottom: gutter(24);
	}

	.dash-item{
		color: #666;
		width: 100%;
		//font-size: ms(0);
		font-size: em(14);
		margin-bottom: 0.5em;
		@include clearfix;
		p{
			color: #444;
		}
		&:last-child{
			margin-bottom: 0;
		}
		&__link{
			float: right;
			font-family: $primary-font-semi;
			color: $primary-color;
			a{
				color: $primary-color;
				&:hover{
					color: $secondary-color;
				}
			}
		}
		&__title{
			float: left;
		}
	}
}
.dash-tile__title{
	cursor: pointer;
	position: relative;
	h2{
		font-size: ms(1);
		font-family: $primary-font-semi;
		color: rgb(52,162,55);
		color: #666;
		letter-spacing: -0.5px;
		margin-bottom: 0;
		.active &{
			border-bottom: 1px solid #d1d1d1;
			padding-bottom: 0.3em;
			margin-bottom: 0.6em;
			color: rgb(52,162,55);
		}
	}
	@include respond-to(dashboard-tiles2){
		cursor: default;
		h2{
			font-size: ms(1);
			font-family: $primary-font-semi;
			color: $secondary-color-dark;
			letter-spacing: -0.5px;
			border-bottom: 1px solid #d1d1d1;
			padding-bottom: 0.3em;
			margin-bottom: 0.6em;
		}
	}
	&:after{
		content: url("../../assets/images/add.svg");
		position: absolute;
		right: 0;
		top: 0;
		height: 1em;
		width: 1em;
		display: block;
		transform-origin: center;
		transition: transform 200ms ease;
		.active &{
			transform: rotate(45deg);
		}
	}
	@include respond-to(dashboard-tiles2){
		&:after{
			display: none;
		}
	}

}
.title{
	display: none;
	@include respond-to(dashboard-tiles2){
		display: block;
	}
}
.dash-tile__content{
	display: none;
	@include clearfix;
	@include respond-to(dashboard-tiles2){
		display: block;
	}
}

.dash-item__button{
	margin: auto;
	display: block;
	@include clearfix;
	a{
		font-family: $primary-font-semi;
		width: 100%;
		@include respond-to(regular){
			width: auto;
		}
		&:after{
	        content: url("../../assets/images/chevron.svg");
	        height: 0.6em;
	        width: 0.6em;
	        display: inline-block;
	        position: relative;
			left: 6px;
	    }
	}
}




.inner-dash-body{
    width: 100%;
	padding: 1.5em 1em;
	display: inline-block;
    vertical-align: top;
	@include clearfix;
	@include respond-to(small){
		padding: 1em;
	}
	@include respond-to(medium){
		padding: 1.5em;
	}
    @include respond-to(side-col-change){
        width: calc(100% - 17em);
        float: left;
    }
}

.inner-dash-content{
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.16), 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    margin-top: -1px;
    width: 100%;
    @include clearfix;
    //width: calc(100% - 20em);
    @include respond-to(small){
        padding: 2em 1.5em;
    }
    h3{
        font-family: $primary-font;
        margin-bottom: 0.2em;
    }
    .small-only{
        display: table;
        max-width: 100%;
        table-layout: fixed;
        @include respond-to(table-fixed){
            table-layout: auto;
        }
        td{
            border: 1px solid #e1e1e1;
        }
        tr{
            //border-top: 1px solid #e1e1e1;
            //border: 1px solid #e1e1e1;
            //border-bottom: 1px solid #e1e1e1;
            &:first-child{
                border-top: none;
            }
            &:nth-child(even){
                background-color: #ffffff;
            }
            &:nth-child(odd){
                background-color: #ffffff;
            }
        }
        .st-head-row{
            padding-top: 2em;
            font-size: ms(1);
            font-family: $primary-font-semi;
        }
        .st-key{
            border-right: 1px solid #d5d5d5;
            background-color: #f7f7f7;
            a{
                font-family: $primary-font-semi
            }
        }
        @include respond-to(table){
            display: none;
        }
    }
    .large-only{
        display: none;
        @include respond-to(table){
            display: table;
        }
    }
    .tableheading{
        display: none;
        @include respond-to(table){
            display: table-row;
        }
    }
    .dualBtn{
        a{
            padding: 0.3em 0.6em;
            margin: 3px 0;
            border-radius: 2px;
            color: #fff;
            background-color: $primary-color;
            display: inline-block;
            text-align: center;
            &.btn-connect{
                background-color: $secondary-color;
                &:hover{
                    background-color: lighten(saturate($secondary-color, 10%),10%);
                }
            }
            &.btn-disconnect,.btn-reject{
                background-color: firebrick;
                &:hover{
                    background-color: lighten(saturate(firebrick, 10%),10%);
                }
            }
            &:hover{
                background-color: lighten(saturate($primary-color, 10%),10%);
            }
        }
    }
}

.page-body{
    width: 100%;
	padding: 1.5em 1em;
    display: inline-block;
    vertical-align: top;
    height: 100%;
	@include clearfix;
	@include respond-to(small){
		padding: 1em;
	}
	&.with-widgets{
	    @include respond-to(side-col-change){
	        width: calc(100% - 17em);
	        float: left;
	    }
	}
}

.page-content{
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.16), 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    margin-top: -1px;
    @include clearfix;
    //width: calc(100% - 20em);
    @include respond-to(small){
        padding: 2em 1.5em;
    }
}
