.main-wrapper{
	float:right;
	width: calc(100% - 12.5em);
	header{
		position: relative;
	}
}
.header-container{
	@include clearfix;
}
.dashboard-top{
	background-color: #fff;
	width: 100%;
	@include clearfix;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
	&:after{
		width: 100%;
		height: 4px;
		background-image: linear-gradient(90deg, #10811c, #3fc53c);
	}
}
.dashboard-header{
	padding: 0.75em 1em 0.75em 2.5em;
	.dash-logo{
		float: left;
		@include span(4 of 12 0);
		img{
			height: auto;
			width: 10em;
		}
	}
}
.dashboard-links{
	@include span(8 of 12 0 last);
	nav{
		@include vertical-align-ab;
		float: right;
		right: 1em;
	}
	ul{

		li{
			display: inline-block;
			margin-left: 1em;
			position: relative;
			&:hover{
				a{
					color: $primary-color;
				}
				.dash-nav__icon{
					fill: $primary-color;
				}
			}
			a{
				padding: 1em 1em 1em 2em;
				color: #8a8a8a;
			}
		}

	}
}
.dash-nav__icon{
	fill: #8a8a8a;
	position: absolute;
	left: 0;
	top: 1px;
	height: 1.5em;
	width: 1.5em
}


.main-head{
	background-image: linear-gradient(90deg, #3fc53c, #10811c);
	padding: 2em 2em 2em 2.5em;
	&__content{
		max-width: 42em;
	}
	h1,h2,h3,h4,h5,p{
		color: #fff;
	}
	h1{
		font-family: $primary-font;
		margin-bottom: 5px;
		letter-spacing: -1px;
	}
	h5{
		font-family: $primary-font-semi;
		margin-bottom: 5px;
	}


}
.title__icon{
	fill: #fff;
	float:left;
	height: 1em;
	width: 1em;
	position: relative;
	top: 2px;
	margin-right: 0.2em;
}
.form-desc{
	max-width: 46em;
}
.organisation-wrap{
	.form__wrap{
		max-width: 46em;
		padding: 3em;
		background-color: #fff;
		border: 1px solid #ccc;
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.01);
		//box-shadow: 0 0 4px rgba(0,0,0,.14),0px 4px 8px rgba(0,0,0,.28);
		@include clearfix;
		.form__field{
			max-width: none;
		}
		h2{
			color: $secondary-color;
			border-bottom: 1px solid #ccc;
			padding-bottom: 0.2em;
			margin: 1.5em 0 0.5em;
			&:first-child{
				margin-top: 0;
			}
		}
	}
	label{
		&[for*="chk"]{
			margin-top: 1em;
			width: auto;
			margin-right: 1em;
		}
	}
}

.main-body{
	padding: 2em 2em 2em 2.5em;
	background-color: #ebeff1;
	background-color: #f4f4f4;
	@include clearfix;
	h2{
		font-size: ms(3);
		font-family: $primary-font-semi;
	}
}
ul.progress-bar{
	position: relative;
	display: inline-block;
	margin: 1em 0 2em;
	&:before {
		content: "";
		text-align: center;
		width: 98%;
		position: absolute;
		top: 35%;
		left: 1%;
		height: 3px;
		display: block;
		background: #aaa;
	}
	&:after {
		content: "";
		text-align: center;
		width: 20%;
		position: absolute;
		top: 35%;
		left: 1%;
		height: 3px;
		display: block;
		z-index: 1;
		background: $secondary-color;
		#pnlStepOne &{
			width: 0%;
		}
		#pnlStepTwo &{
			width: 20%;
		}
		#pnlStepThree &{
			width: 40%;
		}
		#pnlStepFour &{
			width: 60%;
		}
		#pnlStepFive &{
			width: 79%;
		}
		#pnlStepSix &{
			width: 98%;
		}
	}
	li{
		display: inline-block;
		border-radius: 50%;
		height: 1.3em;
		width: 1.3em;
		background-color: #aaa;
		position: relative;
		margin: 0 3em;
		z-index: 2;
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
		&.active{
			background-color: $secondary-color;
			background-image: linear-gradient(180deg, #3fc53c, #10811c);
		}

		// &:after {
		// 	content: "";
		// 	text-align: center;
		// 	width: 100%;
		// 	position: absolute;
		// 	top: 50%;
		// 	left: -50%;
		// 	height: 3px;
		// 	display: block;
		// 	background: #aaa;
		// }
	}
}

.organisation__profile__section__col{
	margin-bottom: 1.5em;
	label{
		&[for*="chk"],&[for*="rdl"]{
			margin-top: 1em;
			width: auto;
			margin-left: 1em;
			margin-right: 0;
		}
	}
	td{
		margin: 0.4em 0;
		display: inline-block;
	}
	input[type="checkbox"],input[type="radio"]{
		position: relative;
		top: 1px;
	}
}
input#txtProfileLocation{
	width: 100%;
	padding: 1em;
	background-color: #fafafa;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: none;
	font-family: $primary-font;
	color: #444;
	font-size: ms(0);
	&[type="checkbox"]{
		text-align: left;
		width: auto;
		position: relative;
		top: 2px;
	}
	&:hover{
		border-color: $grey;
	}
	&:focus{
		background-color: #fff;
		color: $primary-color;
		border-color: $primary-color;
		box-shadow: none;
		outline: 0;
	}
	&.form__field__error{
		transition: all linear 300ms;
		border-color: #e60000;
		animation: shake 1s;
		a{
			color: #fff;
			text-decoration: underline;
		}
		&:focus{
			color: $primary-color;
			border-color: $primary-color;
			box-shadow: none;
			outline: 0;
		}
	}
}
.organisation__profile__wrap{
	max-width: 72em;
	padding: 3em;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.01);
	h3,h4{
		font-family: $primary-font-semi;
		// border-bottom: 1px solid #ccc;
		padding-bottom: 0.3em;
		margin-bottom: 0.5em;
		color: #34a237;
	}
}
.organisation__profile__section{
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid #ddd;
	width: 100%;
	@include clearfix;
}
.organisation__profile__section__col_two{
	float: left;
	width: 48%;
	margin-right: 3%;
	margin-bottom: 0;
	&:last-child{
		float: right;
		margin-right: 0;
	}
}
.organisation__profile__section__group{
	margin: 0.75em 0;
}
.organisation__profile__section__label{
	font-size: ms(0);
	margin-right: 0.5em;
	font-family: $primary-font-semi;
	color: $text-color;
}
.organisation__profile__section__value{
	font-size: ms(0);
	color: #666;
}
.organisation__profile__section__logo{
	height: 8em;
	width: 100%;
	img{
		max-height: 100%;
	}
}
.organisation__profile--contact{
	margin-top: 3em;
}
