.main-wrapper{
	float:right;
	width: 100%;
	transition: all 300ms linear;
	@include respond-to(regular){
		width: calc(100% - 4em);
	}
	@include respond-to(large){
		width: calc(100% - 12.5em);
	}
	header{
		position: relative;
	}
	.show-menu &{
		transition: all 300ms linear;
		transform: translate3d(12.5em, 0, 0);
		@include respond-to(regular){
			transform: translate3d(8.5em, 0, 0);
		}

	}
}
.dashboard-header{
	.header-container{
		@include clearfix;
		.menu-button-wrap{
			@include span(2 of 12 0);
			@include respond-to(regular){
				display: none;
			}
		}
	}
}
.dashboard-top{
	background-color: #fff;
	width: 100%;
	@include clearfix;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
	&:after{
		width: 100%;
		height: 4px;
		background-image: linear-gradient(90deg, #10811c, #3fc53c);
	}
}
.side-menu-button{
	@include span(2 of 12 0);
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: transparent;
	font-size: 1.5em;
	height: 2em;
	//margin: 1em;
	padding: 0;
	width: 2em;
	z-index: 1000;

	.menu-button-icon{

	    display: inline-block;

	}

}
.dashboard-header{
	padding: 0.75em 1em 0.75em 1em;
	@include respond-to(medium){
		padding: 0.75em 1em 0.75em 2.5em;
	}
	.dash-logo{
		display: none;
		@include clearfix;
		float: left;

		@include respond-to(small){
			float: left;
			@include span(4 of 12 0);
			display: block;
		}
		img{
			height: auto;
			width: 8em;
			@include respond-to(regular){
				width: 9.5em;
			}
		}
	}
}
.dashboard-links{
	@include clearfix;
	@include span(8 of 12 0 last);
	@include respond-to(small){
		@include span(6 of 12 0 last);

	}
	@include respond-to(regular){
		@include span(8 of 12 0 last);

	}
	nav{
		float: right;
		@include respond-to(regular){
			@include vertical-align-ab;
			right: 1em;
		}
	}
	ul{

		li{
			display: inline-block;
			margin-left: 1em;
			position: relative;
			&:hover{
				span{
					color: $primary-color;
				}
				.dash-nav__icon{
					fill: $primary-color;
				}
			}
			span{
				padding: 1em 1em 1em 2em;
				color: #8a8a8a;
				display: none;
				@include respond-to(regular){
					display: inline;
				}
			}
		}

	}
}
.dash-nav__icon{
	fill: #8a8a8a;
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
	margin-top: 0.5em;
	@include respond-to(small){
		margin-top: 0.75em;
	}
	@include respond-to(regular){
		position: absolute;
		left: 0;
		top: 1px;
		margin-top: 0;
	}
}


.main-head{
	background-image: linear-gradient(90deg, #3fc53c, #10811c);
	padding: 1.5em;
	font-size: 13px;
	@include respond-to(small){
		font-size: 16px;
	}
	@include respond-to(regular){
		padding: 2em 2em 2em 2.5em;
	}
	&__content{
		max-width: 42em;

	}
	h1,h2,h3,h4,h5,p{
		color: #fff;
	}
	h1{
		font-family: $primary-font;
		margin-bottom: 5px;
		letter-spacing: -1px;
		font-size: ms(5);
	}
	h5{
		font-family: $primary-font-semi;
		margin-bottom: 5px;
	}
	@include respond-to(large){
		padding: 3em 2em 3em 2.5em;
		h1{
			font-size: ms(6);
		}
		h1,h5{
			margin-bottom: 12px;
		}
	}
	h5,p{
		display: none;
		@include respond-to(small){
			display: block;
		}
	}


}
.title__icon{
	fill: #fff;
	float:left;
	height: 1em;
	width: 1em;
	position: relative;
	top: 2px;
	margin-right: 0.2em;
}

.form-desc{
	max-width: 55em;

}

.main-body{
	//padding: 1.5em 1em;
	position: relative;
	background-color: #ebeff1;
	background-color: #f4f4f4;
	@include clearfix;
	@include respond-to(small){
		//padding: 1.5em;
	}
	@include respond-to(medium){
		//padding: 2em 2em 2em 2.5em;
	}
	h2{
		font-size: ms(3);
		font-family: $primary-font-semi;
	}
}
