.hero{
    @include cover-background('hero.jpg');
    position: relative;
    padding: 13.75em 0 7.5em;
    .box--light{
        @include span(4 of 12 last);
    }
}
.hero-text{
    @include span(7 of 12);
    padding-top: 3em;
    h2{
        text-transform: uppercase;
    }
    h2,h6{
        color: #fff;
    }
    h6{
        font-family: $primary-font;
    }
    .button{
        margin-top: 1em;
    }
    .button--solid-blue{
        font-size: 18px;
    }
}
.box{
    padding: 3em;
    @include clearfix;
}
.box--light{
    background-image:linear-gradient(111deg, #fff, #ebebeb);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.25), 0 2px 5px 0 rgba(0,0,0,0.15);
    h4{
        font-family: $primary-font;
        padding-bottom: 0.8em;
        margin-bottom: 0.8em;
        border-bottom: 1px solid #ccc;
    }
    p{
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.promo-wrap{
    position: relative;
    @include clearfix;
}
.promo__block{
    @include span(4 of 12);
    padding: 3em;
    &:last-child{
        @include span(4 of 12 last);
    }
    h5{
        margin-bottom: 0.5em;
        padding-left: 2.5em;
        text-transform: uppercase;
        position: relative;
    }
    .button{
        margin-top: 0.5em;
        position: absolute;
        bottom: 0;
    }
}
.promo-icon{
    display: inline-block;
    height: 2em;
    left: 0;
    position: absolute;
    top: -10px;
    width: 2em;
}
.services, .talk{
    svg{
        fill: $primary-color;
    }
    h5{
        color: $primary-color;
    }
}
.projects{
    svg{
        fill: $secondary-color;
    }
    h5{
        color: $secondary-color;
    }
}

.video-band{
    @include cover-background("video-bg.jpg");
    //background-attachment: fixed;
    padding: 10em 0;
}
.video-band__content{
    @include span(6 of 12);
    h5,h3{
        color: #fff;
    }
    h5{
        text-transform: uppercase;
    }
    h3{
        font-family: $primary-font-light;
    }
}
.video-inner{
    width: 100%;
    padding-bottom: 50%;
    position: relative;
}
.video-band__link{
    text-align: center;
    @include span(5 of 12 last);
    position: relative;
    a{
        padding: 2em;
        border-radius: 50%;
        background-image: linear-gradient(-111deg, #4cb749, #10811c);
        display: table;
        @include vertical-center;
    }
    svg{
        fill: #fff;
        height: 3em;
        width: 3em;
        padding-left: 0.5em;
        display: table-cell;
        vertical-align: middle;
    }
}
.companies-band{
    text-align: center;
    h6{
        margin-bottom: 2em;
        padding-bottom: 0.3em;
        color: $grey;
        border-bottom: 1px solid currentColor;
        display: inline-block;
        text-transform: uppercase;
    }
    .owl-item{
        display: inline-block;
        vertical-align: middle;
        padding: 0 1em;
        img{
            vertical-align: middle;
        }

    }
}

.dust-band{
    background: url("/assets/images/dust-pattern.jpg") repeat #f3f3f3;
}
.most-viewed{

    h4{
        padding-bottom: 0.3em;
        border-bottom: 1px solid currentColor;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .owl-wrapper{
        padding: 1em 0;
    }
    .listing__item{
        position: relative;
        margin: 0.5em;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15), 0 4px 10px 0 rgba(0,0,0,0.08);
    }
    .listing__image{
        height: 0;
        width: 100%;
        padding-bottom: 100%;
    }
    .listing__info{
        background: $white;
        padding: 1em;
        @include clearfix;
    }
    .listing__title{
        width: 100%;
        a{
            text-decoration: none;
            @include h6;
            line-height: 1;
            margin-bottom: 0;
            color: $text-color;
        }
    }
    .listing__location{
        @include p;
        color: $grey;
        float:left;
        width: 50%;
        &:before{
            content: url("/assets/images/pin.svg");
            height: 1em;
            width: 1em;
            display: inline-block;
            position: relative;
            top: 2px;
        }
    }
    .listing__quantity{
        @include p;
        width: 50%;
        float: right;
        text-align: right;
        &-value{
            color: $grey;
        }
    }
    .listing__button{
        width: 100%;
        text-align: center;
        display: inline-block;
        a{
            @include button-variant(#fff, $secondary-color, transparent);
            @include button-size(0.8em, 2em, 15px, 1, 2px);
            display: block;
            font-family: $primary-font-bold;
        }
    }
    .listing__time-remaining{
        position: absolute;
        top: -0.2em;
        left: -0.2em;
        line-height: 1;
        font-family: $primary-font-semi;
        padding: 0.5em 1.2em;
        background-color: $secondary-color;
        color: #fff;
        box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.1);
    }

}
.most-viewed__carousel{
    position: relative;
    .owl-controls{
        .owl-buttons{
            .owl-prev{
                height: 7em;
                width: 7em;
                position: absolute;
                left: -10em;
                top: 50%;
                background: url("/assets/images/previous.svg") transparent no-repeat;
                padding: 0;
                margin: 0;
                opacity: 1;
                border-radius: 0;
                @include vertical-align-ab;
            }
            .owl-next{
                height: 7em;
                width: 7em;
                position: absolute;
                right: -10em;
                top: 50%;
                background: url("/assets/images/next.svg") transparent no-repeat;
                padding: 0;
                margin: 0;
                opacity: 1;
                border-radius: 0;
                @include vertical-align-ab;
            }
        }
    }

}
