.inner-hero{
	padding-top: 98px;
	
	&__text{
		max-width: 50em;
		padding: 6em 0;
		@include respond-to(regular){
			padding: 10em 0;
		}
		h1,h2,h3,h4,h5,h6,p{
			color: #fff;
		}
		h1{
			margin-bottom: 0.5em;
			line-height: 1;
			&.no-marg{
				margin-bottom: 0;
			}
		}
		h6{
			line-height: 1.4;
		}
		h1,h5{
			text-transform: uppercase;
		}
	}
}
.about-hero{
	@include cover-background('about-hero.jpg');
}
.services-hero{
	@include cover-background('services-hero.jpg');
}
.projects-hero{
	@include cover-background('projects-hero.jpg');
}
.contact-hero{
	@include cover-background('contact-hero.jpg');
	h6{
		font-family: $primary-font;
	}
}
.inner-hero__text{
	font-size: 14px;
	h1{
		font-size: ms(5);
		@include respond-to(medium){
			font-size: ms(6);
		}
	}
	h5,h6{
		font-family: $primary-font;
	}
	@include respond-to(medium){
		font-size: 16px;
	}
}
.intro__title{
	@include respond-to(large){
		@include span(3 of 11);
	}
	h3{
		text-transform: uppercase;
		//font-family: $primary-font-semi;
		&:after{
			content: "";
			width: 2em;
			height: 4px;
			background-color: $secondary-color;
			//background-color: #ccc;
			display: block;
			margin-top: 0.5em;
		}
	}
}
.intro__content{
	@include respond-to(large){
		@include span(8 of 11 last);
		column-count: 2;
		column-gap: 3em;
	}
}

.info-band{
	// display: table;
	padding: 2em 2em 1em;
	@include clearfix;
	@include respond-to(small){
		padding: 3em 3em 0;  
	}
	@include respond-to(regular){
		height: 28em;
		padding: 0;
	}
	@include respond-to(medium){
		height: 25em;
	}
	&.responsibility{
		padding-bottom: 3em;
		@include respond-to(regular){
			padding-bottom: 0;
		}

	}
	&__content{
		background-color: #fff;
		vertical-align: middle;
		padding: 1.5em 1em 0;
		height: 100%;
		position: relative;
		p{
			&:last-child{
				margin-bottom: 0;
			}
		}
		@include respond-to(regular){
			display: table;
			width: 50%;
			padding: 2em 3em;
		}
		@include respond-to(medium){
			width: 45%;
		}
		@include respond-to(info-band-padding){
			padding: 2em 7em;
		}
	}
	&__image{
		// display: table-cell;
		height: 15em;
		@include respond-to(regular){
			width: 50%;
			height: 100%;
		}
		@include respond-to(medium){
			width: 55%;
		}
	}
	&__text{
		display: table-cell;
		vertical-align: middle;
		p{
			line-height: 1.6;
		}
	}

	.left{
		@include respond-to(regular){
			float: left;
		}	
	}
	.right{
		@include respond-to(regular){
			float: right;
		}	
	}
	h4{
		text-transform: uppercase;
		color: #020202;
		&:after{
			content: "";
			width: 2em;
			height: 1px;
			background-color: $secondary-color;
			background-color: #888;
			display: block;
			margin-top: 0.5em;
		}
	}
}
.info-band__content{
	@include respond-to(regular){
		&:after{
			display: inline-block;
			width: 0;
			height: 0;
			border: 17px solid transparent;
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
.info-band__content.right{
	@include respond-to(regular){
		&:after{
			border-right-color: #fff;
			left: -32px;

		}
	}
}
.info-band__content.left{
	@include respond-to(regular){
		&:after{
			border-left-color: #fff;
			right: -32px;

		}
	}
}

.info-band__image{
	.reuse &{
		@include cover-background('internal-reuse.jpg');
	}
	.asset-match &{
		@include cover-background('asset-match.jpg');
	}
	.responsibility &{
		@include cover-background('responsibility.jpg');
	}
}

/*

Services

*/

.inner-intro{
	padding: 2em 1em;
	font-size: 14px;
	@include respond-to(regular){
		font-size: 16px;
		padding: 2em;
	}
	@include respond-to(marge){
		padding: 4em;
	}
	&:after{
		content: "";
		width: 4em;
		height: 4px;
		background-color: $secondary-color;
		//background-color: #ccc;
		display: block;
		margin: 1em auto auto;
		@include respond-to(regular){
			margin-top: 2em;
		}
	}
}

.inner-band{
	padding: 0;
}

.inner-band__image{
	position: relative;
	width: 100%;
	height: 20em;
	.matching &{
		@include cover-background('matching-bg.jpg');
	}
	.recycling &{
		@include cover-background('reuse-bg.jpg');	
	}
	.re-engineering &{
		@include cover-background('re-engineering-bg.jpg');
	}
	.rbs &{
		@include cover-background('rbs-bg.jpg');
	}
	.tpt &{
		@include cover-background('tpt-bg.jpg');
	}
	.dunbar &{
		@include cover-background('dunbar-bg.jpg');
	}
	.container{
		height: 100%;
	}
	@include respond-to(regular){
		height: 34em;
	}
}

.title__wrap{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(0deg, rgba(0,0,0,0.95), rgba(0,0,0,0) 60%);
}

.service__title{
	position: absolute;
	bottom: 1.5em;
	left: 5%;
	right: 5%;
	transform: translateY(-50%);
	@include respond-to(medium){
		right: auto;
		left: auto;
	}
	h1,h6{
		color: #fff;
		text-shadow: 0 1px solid rgba(0,0,0,0.35);
	}
	h1{
		text-transform: uppercase;
		font-size: ms(4);
		@include respond-to(medium){
			font-size: ms(6);
		}
	}
}
.inner-band__content{
	padding: 2.5em 0;
	line-height: 1.6;
	position: relative;
	@include respond-to(regular){
		padding: 4em 0;
	}
	@include respond-to(large){
		font-size: 17px;
	}
	h3,h4{
		text-transform: uppercase;
		color: #111;
		font-family: $primary-font-semi;
		&:after{
			background-color: #888;
		    content: "";
		    display: block;
		    height: 1px;
		    margin-top: 0.5em;
		    width: 2em;
		}
	}
	h5{
		margin-bottom: 0.7em;
		text-transform: uppercase;
	}
	&:before{
		display: inline-block;
		width: 0;
		height: 0;
		border: 17px solid transparent;
		border-bottom-color: #fff;
		content: "";
		position: absolute;
		top: -2em;
		left: 50%;
		transform: translateX(-50%);
	}
}

/*

Projects

*/

.project__logo{
	@include vertical-center; 
	display: inline-block;
	width: 20em;
	top: 60%;
	max-width: 10em;
	@include respond-to(regular){
		max-width: 100%;
	}
}

/*

Contact

*/
.container.contact{
	max-width: 1000px;
}

.contact-list{
	@include clearfix;
	margin-bottom: 2em;
	li{
		width: 49%;
		float: left;
		margin-right: 1%;
		font-size: ms(2);
	}
}
.contact__content{
	margin-bottom: 2em;
	@include respond-to(medium){
		@include span(6 of 12 1);
	}
	@include respond-to(large){
		@include span(6 of 12 0.333);
		font-size: 17px;
	}
	p{
		color: #111;
	}
	em{
		@include p;
		display: block;
		margin-bottom: 0.5em;
		font-family: $primary-font-bold;
		&:last-of-type{
			margin-bottom: 1em;
		}
	}
}
.contact__info{
	@include respond-to(medium){
		@include span(6 of 12 last 1);
		margin-top: -8.5em;
	}
	@include respond-to(large){
		@include span(5 of 12 last 0.333);
		//margin-top: -9.5em;
		font-size: 17px;
	}
	.box--white{
		background: #fff;
		box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 4px 9px 0 rgba(0, 0, 0, 0.03); 
		border-top: 3px solid $primary-color;
		padding: 2em;
		@include respond-to(small){
			padding: 3em;
		}
		@include respond-to(medium){
			padding: 4em 3em;
		}
	}
	h4,h6{
		margin-bottom: 0.65em;
	}
	h4{
		padding-bottom: 0.65em;
		border-bottom: 1px solid #ddd;
		font-family: $primary-font;
		//color: $primary-color;
	}
	a{	
		color: $text-color;
		&:hover{
			color: $primary-color;
		}
	}
	h6{
		font-size: ms(0);
		@include respond-to(small){
			font-size: ms(1);
		}
	}
}


.contact-icon{
	display: inline-block;
    height: 1em;
    margin-right: 0.5em;
    width: 1em;
	fill: $primary-color;
	position: relative;
	top: -1px;
}
.contact-social__wrap{
	margin-top: 1.75em;
	padding-top: 1.75em;
	border-top: 1px solid #ddd;
	font-family: $primary-font;
	display: table;
	table-layout: fixed;	
	width: 100%;
}
.contact-social{
	margin-right: 1em;
	display: table-cell;
	@include respond-to(table-fixed){
		display: inline-block;
	}
	@include respond-to(medium){
		display: table-cell;
	}
	&:last-child{
		margin-right: 0;
	}
	svg{
		height: 3em;
		width: 3em;
	}
}
.contact-facebook{
	fill: #555;
	&:hover{
		fill: $facebook;
	}
}
.contact-twitter{
	fill: #555;
	&:hover{
		fill: $twitter;
	}
}
.contact-linkedin{
	fill: #555;
	&:hover{
		fill: $linkedin;
	}
}

/*   Legal   */

.legal{
	.container{
		max-width: 960px;
	}
	h5{
		margin-top: 1.75em;
	}
}