.inner-hero{
	padding-top: 98px;
	
	&__text{
		max-width: 50em;
		padding: 6em 0;
		@include respond-to(regular){
			padding: 10em 0;
		}
		h1,h2,h3,h4,h5,h6,p{
			color: #fff;
		}
		h1{
			margin-bottom: 0.5em;
			line-height: 1;
		}
		h6{
			line-height: 1.4;
		}
		h1,h5{
			text-transform: uppercase;
		}
	}
}
.about-hero{
	@include cover-background('about-hero.jpg');
}
.services-hero{
	@include cover-background('services-hero.jpg');
}
.projects-hero{
	@include cover-background('projects-hero.jpg');
}
.inner-hero__text{
	font-size: 14px;
	h1{
		font-size: ms(5);
		@include respond-to(medium){
			font-size: ms(6);
		}
	}
	@include respond-to(medium){
		font-size: 16px;
	}
}
.intro__title{
	@include respond-to(large){
		@include span(3 of 11);
	}
	h3{
		text-transform: uppercase;
		//font-family: $primary-font-semi;
		&:after{
			content: "";
			width: 2em;
			height: 4px;
			background-color: $secondary-color;
			//background-color: #ccc;
			display: block;
			margin-top: 0.5em;
		}
	}
}
.intro__content{
	@include respond-to(large){
		@include span(8 of 11 last);
		column-count: 2;
		column-gap: 3em;
	}
}

.info-band{
	// display: table;
	padding: 2em 2em 1em;
	@include clearfix;
	@include respond-to(small){
		padding: 3em 3em 0;  
	}
	@include respond-to(regular){
		height: 28em;
		padding: 0;
	}
	@include respond-to(medium){
		height: 25em;
	}
	&.responsibility{
		padding-bottom: 3em;
		@include respond-to(regular){
			padding-bottom: 0;
		}

	}
	&__content{
		background-color: #fff;
		vertical-align: middle;
		padding: 1.5em 1em 0;
		height: 100%;
		position: relative;
		p{
			&:last-child{
				margin-bottom: 0;
			}
		}
		@include respond-to(regular){
			display: table;
			width: 50%;
			padding: 2em 3em;
		}
		@include respond-to(medium){
			width: 45%;
		}
		@include respond-to(info-band-padding){
			padding: 2em 7em;
		}
	}
	&__image{
		// display: table-cell;
		height: 15em;
		@include respond-to(regular){
			width: 50%;
			height: 100%;
		}
		@include respond-to(medium){
			width: 55%;
		}
	}
	&__text{
		display: table-cell;
		vertical-align: middle;
		p{
			line-height: 1.6;
		}
	}

	.left{
		@include respond-to(regular){
			float: left;
		}	
	}
	.right{
		@include respond-to(regular){
			float: right;
		}	
	}
	h4{
		text-transform: uppercase;
		color: #020202;
		&:after{
			content: "";
			width: 2em;
			height: 1px;
			background-color: $secondary-color;
			background-color: #888;
			display: block;
			margin-top: 0.5em;
		}
	}
}

.info-band__image{
	.reuse &{
		@include cover-background('internal-reuse.jpg');
	}
	.asset-match &{
		@include cover-background('asset-match.jpg');
	}
	.responsibility &{
		@include cover-background('responsibility.jpg');
	}
}

/*

Services

*/

.inner-intro{
	padding: 2em 1em;
	font-size: 14px;
	@include respond-to(regular){
		font-size: 16px;
		padding: 2em;
	}
	&:after{
		content: "";
		width: 4em;
		height: 4px;
		background-color: $secondary-color;
		//background-color: #ccc;
		display: block;
		margin: 1em auto auto;
		@include respond-to(regular){
			margin-top: 2em;
		}
	}
}

.inner-band{
	padding: 0;
}

.inner-band__image{
	position: relative;
	width: 100%;
	height: 20em;
	.matching &{
		@include cover-background('matching-bg.jpg');
	}
	.recycling &{
		@include cover-background('reuse-bg.jpg');	
	}
	.re-engineering &{
		@include cover-background('re-engineering-bg.jpg');
	}
	.rbs &{
		@include cover-background('rbs-bg.jpg');
	}
	.tpt &{
		@include cover-background('tpt-bg.jpg');
	}
	.dunbar &{
		@include cover-background('dunbar-bg.jpg');
	}
	.container{
		height: 100%;
	}
	@include respond-to(regular){
		height: 32em;
	}
}

.title__wrap{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(0deg, rgba(0,0,0,0.95), rgba(0,0,0,0) 60%);
}

.service__title{
	position: absolute;
	bottom: 0;
	left: 5%;
	right: 5%;
	transform: translateY(-50%);
	@include respond-to(medium){
		right: auto;
		left: auto;
	}
	h1,h6{
		color: #fff;
		text-shadow: 0 1px solid rgba(0,0,0,0.35);
	}
	h1{
		text-transform: uppercase;
		font-size: ms(4);
		@include respond-to(medium){
			font-size: ms(6);
		}
	}
}
.inner-band__content{
	padding: 2.5em 0;
	line-height: 1.6;
	position: relative;
	@include respond-to(regular){
		padding: 4em 0;
	}
	h4{
		text-transform: uppercase;
		font-family: $primary-font-semi;
		&:after{
			background-color: #888;
		    content: "";
		    display: block;
		    height: 1px;
		    margin-top: 0.5em;
		    width: 2em;
		}
	}
	&:before{
		display: inline-block;
		width: 0;
		height: 0;
		border: 17px solid transparent;
		border-bottom-color: #fff;
		content: "";
		position: absolute;
		top: -2em;
		left: 50%;
		transform: translateX(-50%);
	}
}

/*

Projects

*/