.inner-hero{
	padding-top: 98px;
	@include cover-background('about-hero.jpg');
	&__text{
		max-width: 50em;
		padding: 10em 0;
		h1,h2,h3,h4,h5,h6,p{
			color: #fff;
		}
		h1{
			margin-bottom: 0.5em;
			line-height: 1;
		}
		h6{
			line-height: 1.4;
		}
		h1,h5{
			text-transform: uppercase;
		}
	}
}

.intro__title{
	@include span(3 of 11);
	h3{
		text-transform: uppercase;
		//font-family: $primary-font-semi;
		&:after{
			content: "";
			width: 2em;
			height: 4px;
			background-color: $secondary-color;
			//background-color: #ccc;
			display: block;
			margin-top: 0.5em;
		}
	}
}
.intro__content{
	@include span(8 of 11 last);
	column-count: 2;
	column-gap: 3em;
}

.info-band{
	// display: table;
	height: 25em;
	padding: 0;

	&__content{
		background-color: #fff;
		// display: table-cell;
		display: table;
		vertical-align: middle;
		width: 45%;
		padding: 2em 7em;
		height: 100%;
		position: relative;
	}
	&__image{
		// display: table-cell;
		height: 100%;
		width: 55%;
	}
	&__text{
		display: table-cell;
		vertical-align: middle;
	}

	.left{
		float: left;
	}
	.right{
		float: right;
	}
	h4{
		text-transform: uppercase;
		color: #020202;
		&:after{
			content: "";
			width: 2em;
			height: 1px;
			background-color: $secondary-color;
			background-color: #888;
			display: block;
			margin-top: 0.5em;
		}
	}
}

.info-band__image{
	.reuse &{
		@include cover-background('internal-reuse.jpg');
	}
	.asset-match &{
		@include cover-background('asset-match.jpg');
	}
	.responsibility &{
		@include cover-background('responsibility.jpg');
	}
}