.side-nav__wrapper{
	//min-height: 100%;
	display: block;
	background-color: #282e35;
	width: 0;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	//transition: all 300ms linear;
	@include clearfix;
	@include respond-to(regular){
		width: 4em;
	}
	@include respond-to(large){
		width: 12.5em;
	}
	.menu-button-wrap{
		height: 0em;
		width: 100%;
		// display: none;
		position: relative;
		.menu-button-icon, .menu-button-icon::before, .menu-button-icon::after {
			background: $secondary-color;
		}
		@include respond-to(regular){
			// display: block;
			.menu-button-icon, .menu-button-icon::before, .menu-button-icon::after {
				background: #fff;
			}
			height: 4em;
		}
		@include respond-to(large){
			display: none;
		}
	}
	.menu-button{
		right: -60px;
		@include respond-to(regular){
			right: 4px;
		}
	}
	.show-menu &{
		width: 12.5em;
		.menu-button-icon{
			background: transparent;
		}
	}
}
.organisation-info{
	padding: 1.5em;
	width: 100%;
	text-align: center;
	display: block;
	border-bottom: 1px solid #3e464f;
	display: none;
	@include respond-to(large){
		display: block;
	}
	.show-menu &{
		display: block;
	}

}
.organisation-image{
	width: 100%;
	height: auto;
	margin-bottom: 0.3em;
	display: block;
	img{
		max-height: 10em;
	}
}
.organisation-title{
	.user-name{
		font-family: $primary-font-semi;
		color: #fff;
		font-size: em(16);
		width: 100%;
		line-height: 1.3;
	}
	.company-name{
		font-family: $primary-font;
		color: #aeaeae;
		font-size: em(16);
		width: 100%;
		line-height: 1.3;
	}
}
.side-nav__menu{
	opacity: 0;
	@include respond-to(regular){
		opacity: 1;
	}
	.show-menu &{
		opacity: 1;
	}
	nav{
		width: 100%;
	}
	ul{
		width: 100%;
	}
	li{
		width: 100%;
		position: relative;
		border-bottom: 1px solid #222;
		border-top: 1px solid #3e464f;
		height: 4em;
		cursor: pointer;
		@include respond-to(large){
			height: auto;
		}
		&:last-child{
			border-bottom-color: #3e464f;
		}
		&:first-child{
			border-top: none;
		}
		&:hover{
			background-color: #3e464f;
			a{
				color: #fff;
			}
			.side-nav__icon{
				fill: #fff;
			}
		}
		&.active{
			background-color: lighten(#3e464f, 7%);
			border-color: #353c45;
			a{
				color: #fff;
			}
			.side-nav__icon{
				fill: #fff;
			}
			&:before{
				content: "";
				position: absolute;
				left: 0;
				height: 100%;
				width: 2px;
				background-image: linear-gradient(180deg, #4cb749, $secondary-color);
				@include respond-to(large){
					width: 4px;
				}
			}
		}
		a{
			padding: 1.2em 1em 1.2em 4em;
			display: block;
			color: #c5c5c5;
			text-transform: uppercase;
			font-family: $primary-font-semi;
			font-size: em(14);
			display: none;
			@include respond-to(large){
				display: block;
			}
			.show-menu &{
				display: block;
			}
		}
	}
}
// .nav-icon{
// 	position: absolute;
// 	height: 2em;
// 	width: 2em;
// 	left: 1em;
// 	top: 1em;
// }
.side-nav__icon{
	fill: #c5c5c5;
	display: inline-block;
    height: 1.3em;
    left: 0.8em;
    position: absolute;
    top: 1.1em;
    width: 1.3em;
	transition: left 300ms ease;
	@include respond-to(regular){
		left: 1.3em;
	}
	.show-menu &{
		left: 1.3em;
	}
}
