/* ---------------------------------------------- *\

	Big Mama Styles!

	Here we collate all of our partials into one file ready to be processed and generate that
	beautiful CSS.

\* ---------------------------------------------- */

/* - Index
-------------------------------------------------
	- Susy ...................................... 1.0.
	- Breakpoint ................................ 2.0.
	- Modular Scale ............................. 3.0.
	- Mixins .................................... 4.0.
	- Variables ................................. 5.0.
	- Reset ..................................... 6.0.
	- Base ...................................... 7.0.
	- Grid ...................................... 8.0.
	- Typography ................................ 9.0.
	- Nav ...................................... 10.0.
	- Header ................................... 11.0.
	- Content .................................. 12.0.
	- Footer ................................... 13.0.
*/

/* -----------------------------------------
	1.0. Susy
----------------------------------------- */

/* -----------------------------------------
	2.0. Breakpoint
----------------------------------------- */

/* -----------------------------------------
	3.0. Modular Scale
----------------------------------------- */

/* -----------------------------------------
	4.0. Mixins
----------------------------------------- */

/**
 * Select parts of the burger
 */

/**
 * Burger animations
 */

/**
 * Background images
 */

/* -----------------------------------------
	5.0. Variables
----------------------------------------- */

/* -----------------------------------------
	6.0. Reset
----------------------------------------- */

/* ---------------------------------------------- *\

  Partial: reset

  Reset the fuck out of everything. Phwouah!

\* ---------------------------------------------- */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
}

a img {
  border: none;
}

blockquote {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* -----------------------------------------
	7.0. Base
----------------------------------------- */

/* ---------------------------------------------- *\

  Partial: base

  Here you place the base defaults to any project

\* ---------------------------------------------- */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  text-size-adjust: 100%;
}

body {
  color: #111;
  font-family: 'source-regular', Helvetica, Arial, sans-serif;
  font-size: "16px";
  line-height: 1.6;
  margin: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

small {
  font-size: 0.85em;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img,
object,
embed {
  height: auto;
  max-width: 100%;
}

blockquote {
  background: #e3e3e3;
  color: #FFFFFF;
  font-size: 1.1em;
  font-style: italic;
  margin: 0 0 1.25em 1.25em;
  padding: 0.625em 1.25em 1.25em;
}

blockquote p:last-child {
  margin-bottom: 0;
}

/*********************************************
	- 2.0 -  LINKS
*********************************************/

/* - 2.1. - BASE LINK STYLES
	------------------------------------------ */

a {
  color: blue;
  cursor: pointer;
  text-decoration: none;
  /* Improve readability when focused and hovered in all browsers: h5bp.com/h */
}

a:hover {
  color: green;
}

a:focus {
  color: purple;
}

a:focus,
a:active {
  outline: none;
}

/* - 2.2. - HEADER LINKS
	------------------------------------------ */

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: blue;
}

/*********************************************
	- 3.0 -  Helpers
*********************************************/

.hide {
  display: none;
}

.center-align {
  text-align: center;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

.band {
  padding: 6em 0;
}

.band-white {
  background-color: #fff;
}

/* -----------------------------------------
	8.0. Grid
----------------------------------------- */

/* ---------------------------------------------- *\

  Partial: grid

  We're using Susy. Please visit http://susy.readthedocs.org/en/latest/install/

  Due to using Susy, we're going to need the Ruby gems installed. Please a see a guide here: [TBD].

  Usage
  =====

\* ---------------------------------------------- */

/* - Index
-------------------------------------------------
  - Global defaults     ............................. 1.0.
  - Grid makeup         ............................. 2.0.
*/

/* ---------------------------------------------- *\
  1.0 Global defaults
\* ---------------------------------------------- */

/* ---------------------------------------------- *\
  1.0 Grid makeup
\* ---------------------------------------------- */

.contain {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1080px;
}

.contain:after {
  content: " ";
  display: block;
  clear: both;
}

.contain--table {
  display: table;
  width: 100%;
  max-width: 1080px;
  min-width: 1080px;
  margin: 0 auto;
}

/* -----------------------------------------
	9.0. Typography
----------------------------------------- */

/* ---------------------------------------------- *\

  Partial: typography

  I set all typographic styles here. First we list our variables such as fonts (maybe we're using some @font-face) and
  additionally and maps we might want to use. Then we specificy the typographic scales we want.

\* ---------------------------------------------- */

@font-face {
  font-family: 'source-light';
  src: url('/assets/fonts/SourceSansPro-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source-italic';
  src: url('/assets/fonts/SourceSansPro-It.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source-regular';
  src: url('/assets/fonts/SourceSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source-semibold';
  src: url('/assets/fonts/SourceSansPro-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source-bold';
  src: url('/assets/fonts/SourceSansPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-rendering: optimizeLegibility;
  font-weight: normal;
  line-height: 1.4;
  color: #444;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.bold,
strong,
b {
  font-family: 'source-bold', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.italic {
  font-family: 'source-italic', Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'source-bold', Helvetica, Arial, sans-serif;
  font-size: 57px;
  margin-bottom: 0.5em;
  line-height: 1.1;
}

h2 {
  font-family: 'source-bold', Helvetica, Arial, sans-serif;
  font-size: 46px;
  margin-bottom: 0.5em;
  line-height: 1.1;
}

h3 {
  font-family: 'source-bold', Helvetica, Arial, sans-serif;
  font-size: 37px;
  margin-bottom: 0.75em;
}

h4 {
  font-family: 'source-bold', Helvetica, Arial, sans-serif;
  font-size: 29px;
  margin-bottom: 0.75em;
}

h5 {
  font-family: 'source-semibold', Helvetica, Arial, sans-serif;
  font-size: 23px;
  margin-bottom: 1em;
}

h6 {
  font-family: 'source-semibold', Helvetica, Arial, sans-serif;
  font-size: 19px;
  margin-bottom: 1em;
}

p {
  font-family: 'source-regular', Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 1em;
}

/* -----------------------------------------
	10.0. Nav
----------------------------------------- */

/* ---------------------------------------------- *\

  Partial: nav

  All navigation styles here. This is sort that we can try keep things seperated and easy to maintain. You can
  include all global navigation styles here.

\* ---------------------------------------------- */

nav {
  float: left;
  margin-right: 2em;
}

nav:before,
nav:after {
  content: "";
  display: table;
}

nav:after {
  clear: both;
}

nav ul.menu {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  float: right;
}

nav ul.menu:before,
nav ul.menu:after {
  content: "";
  display: table;
}

nav ul.menu:after {
  clear: both;
}

nav ul.menu > li {
  padding: 0;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0;
  margin-left: 0px;
  margin-right: 3em;
  background-color: transparent;
  text-transform: uppercase;
  line-height: 1;
  border-bottom: 2px solid transparent;
}

nav ul.menu > li:before,
nav ul.menu > li:after {
  content: "";
  display: table;
}

nav ul.menu > li:after {
  clear: both;
}

nav ul.menu > li a {
  color: #FFFFFF;
  font-family: 'source-semibold', Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-decoration: none;
  line-height: 1;
  padding: 0.75em 0.2em;
  display: inline-block;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
}

nav ul.menu > li a:hover {
  color: #2287d3;
}

nav ul.menu > li.liLinkActive {
  border-color: #fff;
}

nav ul.menu > li.liLinkActive > a {
  color: #fff;
}

nav ul.menu > li > ul {
  display: none;
  position: absolute;
  left: -8px;
  top: 100%;
  width: auto;
  min-width: 200px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 10px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 1em 0 0.3em;
  border-bottom: 3px solid #2287d3;
  z-index: 99999;
  color: #fff;
}

nav ul.menu > li > ul li {
  float: none;
  text-align: left;
  padding: 0;
  background-color: transparent;
  margin: 0;
}

nav ul.menu > li > ul li a {
  font-family: 'source-semibold', Helvetica, Arial, sans-serif;
  font-size: 19px;
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #999;
  line-height: 1;
  word-wrap: nowrap;
}

nav ul.menu > li > ul li:hover a {
  color: #2287d3;
  text-decoration: none;
}

nav ul.menu > li:hover > ul {
  display: block;
}

/* -----------------------------------------
	11.0. Header
----------------------------------------- */

header {
  width: 100%;
  padding: 1em 2em;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  height: 98px;
}

.logo {
  height: 4.1em;
  width: auto;
  max-width: 12.5em;
  display: block;
  float: left;
}

.logo-icon {
  height: 4.1em;
  width: auto;
  max-width: 12.5em;
  fill: #fff;
}

.header-links {
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login-buttons {
  float: right;
}

.login-buttons .signup-button {
  margin-right: 1em;
}

/* -----------------------------------------
	12.0. Content
----------------------------------------- */

/* -----------------------------------------
	13.0. Footer
----------------------------------------- */

/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */

.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */

.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

/* fix */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/

.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 30px;
  background: #869791;
  -webkit-filter: Alpha(Opacity=50);
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
}

/* Clickable class fix problem with hover on touch devices */

/* Use it for non-touch hover action */

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  -webkit-filter: Alpha(Opacity=100);
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  -webkit-filter: Alpha(Opacity=50);
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  border-radius: 20px;
  background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  -webkit-filter: Alpha(Opacity=100);
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 30px;
}

/* preloading images */

.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center;
}

.hero {
  background: url("/assets/images/hero.jpg") center center #fff no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  padding: 13.75em 0 7.5em;
}

.hero .box--light {
  width: 31.9257837492%;
  float: right;
  margin-right: 0;
}

.hero-text {
  width: 57.4536148433%;
  float: left;
  margin-right: 2.1113243762%;
  padding-top: 3em;
}

.hero-text h2 {
  text-transform: uppercase;
}

.hero-text h2,
.hero-text h6 {
  color: #fff;
}

.hero-text h6 {
  font-family: 'source-regular', Helvetica, Arial, sans-serif;
}

.hero-text .button {
  margin-top: 1em;
}

.hero-text .button--solid-blue {
  font-size: 18px;
}

.box {
  padding: 3em;
}

.box:before,
.box:after {
  content: "";
  display: table;
}

.box:after {
  clear: both;
}

.box--light {
  background-image: -webkit-linear-gradient(339deg, #fff, #ebebeb);
  background-image: linear-gradient(111deg, #fff, #ebebeb);
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.box--light h4 {
  font-family: 'source-regular', Helvetica, Arial, sans-serif;
  padding-bottom: 0.8em;
  margin-bottom: 0.8em;
  border-bottom: 1px solid #ccc;
}

.box--light p:last-child {
  margin-bottom: 0;
}

.promo-wrap {
  position: relative;
}

.promo-wrap:before,
.promo-wrap:after {
  content: "";
  display: table;
}

.promo-wrap:after {
  clear: both;
}

.promo__block {
  width: 31.9257837492%;
  float: left;
  margin-right: 2.1113243762%;
  padding: 3em;
}

.promo__block:last-child {
  width: 31.9257837492%;
  float: right;
  margin-right: 0;
}

.promo__block h5 {
  margin-bottom: 0.5em;
  padding-left: 2.5em;
  text-transform: uppercase;
  position: relative;
}

.promo__block .button {
  margin-top: 0.5em;
  position: absolute;
  bottom: 0;
}

.promo-icon {
  display: inline-block;
  height: 2em;
  left: 0;
  position: absolute;
  top: -10px;
  width: 2em;
}

.services svg,
.talk svg {
  fill: #2287d3;
}

.services h5,
.talk h5 {
  color: #2287d3;
}

.projects svg {
  fill: #34a237;
}

.projects h5 {
  color: #34a237;
}

.video-band {
  background: url("/assets/images/video-bg.jpg") center center #fff no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 10em 0;
}

.video-band__content {
  width: 48.9443378119%;
  float: left;
  margin-right: 2.1113243762%;
}

.video-band__content h5,
.video-band__content h3 {
  color: #fff;
}

.video-band__content h5 {
  text-transform: uppercase;
}

.video-band__content h3 {
  font-family: 'source-light', Helvetica, Arial, sans-serif;
}

.video-inner {
  width: 100%;
  padding-bottom: 50%;
  position: relative;
}

.video-band__link {
  text-align: center;
  width: 40.4350607806%;
  float: right;
  margin-right: 0;
  position: relative;
}

.video-band__link a {
  padding: 2em;
  border-radius: 50%;
  background-image: -webkit-linear-gradient(201deg, #4cb749, #10811c);
  background-image: linear-gradient(-111deg, #4cb749, #10811c);
  display: table;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.video-band__link svg {
  fill: #fff;
  height: 3em;
  width: 3em;
  padding-left: 0.5em;
  display: table-cell;
  vertical-align: middle;
}

.companies-band {
  text-align: center;
}

.companies-band h6 {
  margin-bottom: 2em;
  padding-bottom: 0.3em;
  color: #999;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  text-transform: uppercase;
}

.companies-band .owl-item {
  display: inline-block;
  vertical-align: middle;
  padding: 0 1em;
}

.companies-band .owl-item img {
  vertical-align: middle;
}

.dust-band {
  background: url("/assets/images/dust-pattern.jpg") repeat #f3f3f3;
}

.most-viewed h4 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid currentColor;
  text-transform: uppercase;
  margin-bottom: 0;
}

.most-viewed .owl-wrapper {
  padding: 1em 0;
}

.most-viewed .listing__item {
  position: relative;
  margin: 0.5em;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.08);
}

.most-viewed .listing__image {
  height: 0;
  width: 100%;
  padding-bottom: 100%;
}

.most-viewed .listing__info {
  background: #FFFFFF;
  padding: 1em;
}

.most-viewed .listing__info:before,
.most-viewed .listing__info:after {
  content: "";
  display: table;
}

.most-viewed .listing__info:after {
  clear: both;
}

.most-viewed .listing__title {
  width: 100%;
}

.most-viewed .listing__title a {
  text-decoration: none;
  font-family: 'source-semibold', Helvetica, Arial, sans-serif;
  font-size: 19px;
  margin-bottom: 1em;
  line-height: 1;
  margin-bottom: 0;
  color: #444;
}

.most-viewed .listing__location {
  font-family: 'source-regular', Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 1em;
  color: #999;
  float: left;
  width: 50%;
}

.most-viewed .listing__location:before {
  content: url("/assets/images/pin.svg");
  height: 1em;
  width: 1em;
  display: inline-block;
  position: relative;
  top: 2px;
}

.most-viewed .listing__quantity {
  font-family: 'source-regular', Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 1em;
  width: 50%;
  float: right;
  text-align: right;
}

.most-viewed .listing__quantity-value {
  color: #999;
}

.most-viewed .listing__button {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.most-viewed .listing__button a {
  color: #fff;
  background-color: #34a237;
  border-color: transparent;
  padding: 0.8em 2em;
  font-size: 15px;
  line-height: 1;
  border-radius: 2px;
  display: block;
  font-family: 'source-bold', Helvetica, Arial, sans-serif;
}

.most-viewed .listing__button a:hover,
.most-viewed .listing__button a:focus,
.most-viewed .listing__button a:active,
.most-viewed .listing__button a.active,
.open > .most-viewed .listing__button a.dropdown-toggle {
  color: #fff;
  background-color: #287b2a;
  border-color: transparent;
}

.most-viewed .listing__button a:active,
.most-viewed .listing__button a.active,
.open > .most-viewed .listing__button a.dropdown-toggle {
  background-image: none;
}

.most-viewed .listing__button a.disabled,
.most-viewed .listing__button a.disabled:hover,
.most-viewed .listing__button a.disabled:focus,
.most-viewed .listing__button a.disabled:active,
.most-viewed .listing__button a.disabled.active,
.most-viewed .listing__button a[disabled],
.most-viewed .listing__button a[disabled]:hover,
.most-viewed .listing__button a[disabled]:focus,
.most-viewed .listing__button a[disabled]:active,
.most-viewed .listing__button a[disabled].active,
fieldset[disabled] .most-viewed .listing__button a,
fieldset[disabled] .most-viewed .listing__button a:hover,
fieldset[disabled] .most-viewed .listing__button a:focus,
fieldset[disabled] .most-viewed .listing__button a:active,
fieldset[disabled] .most-viewed .listing__button a.active {
  background-color: #34a237;
  border-color: transparent;
}

.most-viewed .listing__button a .badge {
  color: #34a237;
  background-color: #fff;
}

.most-viewed .listing__time-remaining {
  position: absolute;
  top: -0.2em;
  left: -0.2em;
  line-height: 1;
  font-family: 'source-semibold', Helvetica, Arial, sans-serif;
  padding: 0.5em 1.2em;
  background-color: #34a237;
  color: #fff;
  -webkit-box-shadow: 1px 3px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 3px 2px 0 rgba(0, 0, 0, 0.1);
}

.most-viewed__carousel {
  position: relative;
}

.most-viewed__carousel .owl-controls .owl-buttons .owl-prev {
  height: 7em;
  width: 7em;
  position: absolute;
  left: -10em;
  top: 50%;
  background: url("/assets/images/previous.svg") transparent no-repeat;
  padding: 0;
  margin: 0;
  opacity: 1;
  border-radius: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.most-viewed__carousel .owl-controls .owl-buttons .owl-next {
  height: 7em;
  width: 7em;
  position: absolute;
  right: -10em;
  top: 50%;
  background: url("/assets/images/next.svg") transparent no-repeat;
  padding: 0;
  margin: 0;
  opacity: 1;
  border-radius: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* ---------------------------------------------- *\

  Partial: buttons

  This is a work-in-progress. Please deploy your own method or use my exaple below.

\* ---------------------------------------------- */

.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  border: none;
  font-family: 'source-bold', Helvetica, Arial, sans-serif;
  line-height: 1;
  white-space: nowrap;
  font-weight: bold;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button--solid-blue {
  color: #fff;
  background-color: #2287d3;
  border-color: transparent;
  padding: 0.8em 2em;
  font-size: 15px;
  line-height: 1;
  border-radius: 2px;
}

.button--solid-blue:hover,
.button--solid-blue:focus,
.button--solid-blue:active,
.button--solid-blue.active,
.open > .button--solid-blue.dropdown-toggle {
  color: #fff;
  background-color: #1b6ba7;
  border-color: transparent;
}

.button--solid-blue:active,
.button--solid-blue.active,
.open > .button--solid-blue.dropdown-toggle {
  background-image: none;
}

.button--solid-blue.disabled,
.button--solid-blue.disabled:hover,
.button--solid-blue.disabled:focus,
.button--solid-blue.disabled:active,
.button--solid-blue.disabled.active,
.button--solid-blue[disabled],
.button--solid-blue[disabled]:hover,
.button--solid-blue[disabled]:focus,
.button--solid-blue[disabled]:active,
.button--solid-blue[disabled].active,
fieldset[disabled] .button--solid-blue,
fieldset[disabled] .button--solid-blue:hover,
fieldset[disabled] .button--solid-blue:focus,
fieldset[disabled] .button--solid-blue:active,
fieldset[disabled] .button--solid-blue.active {
  background-color: #2287d3;
  border-color: transparent;
}

.button--solid-blue .badge {
  color: #2287d3;
  background-color: #fff;
}

.button--solid-blue a {
  color: #fff;
  text-transform: uppercase;
}

.button--solid-green {
  color: #fff;
  background-color: #34a237;
  border-color: transparent;
  padding: 0.8em 2em;
  font-size: 15px;
  line-height: 1;
  border-radius: 2px;
}

.button--solid-green:hover,
.button--solid-green:focus,
.button--solid-green:active,
.button--solid-green.active,
.open > .button--solid-green.dropdown-toggle {
  color: #fff;
  background-color: #287b2a;
  border-color: transparent;
}

.button--solid-green:active,
.button--solid-green.active,
.open > .button--solid-green.dropdown-toggle {
  background-image: none;
}

.button--solid-green.disabled,
.button--solid-green.disabled:hover,
.button--solid-green.disabled:focus,
.button--solid-green.disabled:active,
.button--solid-green.disabled.active,
.button--solid-green[disabled],
.button--solid-green[disabled]:hover,
.button--solid-green[disabled]:focus,
.button--solid-green[disabled]:active,
.button--solid-green[disabled].active,
fieldset[disabled] .button--solid-green,
fieldset[disabled] .button--solid-green:hover,
fieldset[disabled] .button--solid-green:focus,
fieldset[disabled] .button--solid-green:active,
fieldset[disabled] .button--solid-green.active {
  background-color: #34a237;
  border-color: transparent;
}

.button--solid-green .badge {
  color: #34a237;
  background-color: #fff;
}

.button--solid-green a {
  color: #fff;
  text-transform: uppercase;
}